body{
    background-color: blueviolet;
}

.inicio{
    display: flex;
justify-content: space-evenly;
}

.inicio img{
    width: 150px;
}

.contenedor{
    background-color: blueviolet;
    justify-content: space-between;
    display: flex;
    padding: 1px;
}

.type-1{
    background-color: blue;
}

.type-2{
    background-color: red;
}

.contenedor-2{
    background-color: blueviolet;
    justify-content: space-between;
    display: flex;
}

.gif{
width: 200px;
}